@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');

:root {
  --color-base: #ff99cc;

  /* buttons */
  --color-button: #ff99cc;
  --color-button--hover: #ff99ccaf;
  --color-button--disabled: #444;

  --color-grey: #444;

  --min: 300px;
  --gap: 1rem;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Londrina Outline', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


header h1 {
    margin-bottom : 1rem;
}


.form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom : 1rem;
}

.form input { 
  min-height: 40px;
  border: 1px solid var(--color-grey);
  padding: 10px;
  text-transform: uppercase;
}
.form input[type='submit'], button {  
  min-height: 40px;
  color: white;
  background-color: var(--color-base);
  border: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1);
}

.form input[type='submit']:hover, button:hover {  
  background-color: var(--color-button--hover);
  transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
}


.form input[type='submit']:disabled {
  background-color: var(--color-button--disabled);
  transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.timerComponent {
  font-size: 3rem; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}